.custom-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
